<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhugefang.viewdemo">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Third.VelocityTrackerActivity" />
        <activity android:name=".Third.GestureDetectorActivity" />
        <activity android:name=".Third.ScrollerActivity" />
        <activity android:name=".Third.ScrollerLayoutActivity" />

        <activity android:name=".Third.DispatchActivity" />
        <activity android:name=".Third.DispatchViewActivity" />
        <activity android:name=".Third.DispatchView2Activity" />
        <activity
            android:name=".Third.DispatchViewGroupActivity"
            android:label="ViewGroup" />
        <activity android:name=".Third.OuerIntercepetActivity" />
        <activity android:name=".First.notes.StartActivity"></activity>
        <activity android:name=".First.notes.Start2Activity" />
        <activity android:name=".Twelve.DecodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Twelve.LruActivity"></activity>
        <activity
            android:name=".First.LoadModeActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.ryg.task1">
        </activity>
        <activity android:name=".First.SecondActivity" />
        <activity android:name=".First.ThirdActivity" />

    </application>

</manifest>