<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zjhjglibrary">

    <application
        android:label="zjhjglibrary"
        android:name=".ZJHJGAPP">
        <activity
            android:name=".ZJHJGActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="zjhjglibrary"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
